.header {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 114px;
    background-color: $background-white;

    @media (max-width: 1023px) {
      display: none;
    }
  }
}


.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;

  @media (max-width: 1023px) {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  @media (max-width: 767px) {
    margin-bottom: 35px;
    margin-top: 13px;

  }
}

.header__top form {
  @media (max-width: 1023px) {
    display: none;
    position: relative;
    order: 1;
    width: 100%;
    padding-top: 30px;
  }

  @media (max-width: 767px) {
    padding-top: 24px;
  }
}

.header__top label {
  cursor: pointer;

  svg {
    fill: $black;
    stroke: none;
  }

  @media (max-width: 1023px) {
    position: absolute;
    bottom: 8px;
    left: 12px;

    svg {
      width: 16px;
      height: 16px;
      fill: $white;
    }
  }
}

.header__top input {
  padding: 10px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $black;
  border: none;
  border-radius: 0;
  width: 175px;

  &::placeholder {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $grey;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid $brown;
  }

  @media (max-width: 1023px) {
    width: 100%;
    margin-left: 0;
    padding-left: 40px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 21px;

    &::placeholder {
      visibility: hidden;
    }

    &:focus {
      border-bottom: none;
    }
  }

  @media (max-width: 767px) {
    margin-top: 0;
  }
}

.header__nav-toggle {
  display: none;

  @media (max-width: 1023px) {
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
}

.header__logo {
  position: absolute;
  top: 30px;
  transform: translateX(-33px);

  @media (max-width: 1023px) {
    padding-right: 7px;
  }

  @media (max-width: 767px) {
    top: 20px;
    transform: translateX(-26px);
  }
}

.header__logo img {
  @media (max-width: 767px) {
    width: 52px;
    height: 52px;
  }
}

.header__user-nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  max-width: 500px;

  @media (max-width: 1023px) {
    padding-top: 0;
    width: auto;
  }
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  color: $black;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }
}

.header__link--login {
  @media (max-width: 1023px) {
    display: none;
  }
}

.header__link span {
  @media (max-width: 1023px) {
    display: none;
  }
}

.header__link svg {
  display: none;

  @media (max-width: 1023px) {
    display: block;
  }
}

.header__nav {
  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10px;

  @media (max-width: 1023px) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-top: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.header__nav-item {
  padding: 20px 0 20px;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 1023px) {
    padding: 17px 0;
  }
}

.header__nav-link {
  font-weight: 500;
  color: $black;
  padding: 5px;

  &:hover {
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: 1023px) {
    font-size: 24px;
    color: $white;

    &:hover {
      color: $grey;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.header__tablet-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;

  @media (max-width: 767px) {
    margin-bottom: 15px;
  }

  @media (min-width: 1023px) {
    display: none;
  }
}

.header__tablet-item {
  padding: 10px 0;
}

.header__tablet-item a {
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.75);

  &:hover {
    color: $grey;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__tablet-login {
  margin-bottom: 65px;
  padding: 15px 0;
  font-weight: 500;
  font-size: 18px;
  color: $white;

  &:hover {
    color: $grey;
  }

  &:active {
    opacity: 0.7;
  }

  @media (min-width: 1023px) {
    display: none;
  }
}

@media (max-width: 1023px) {

  .header__nav--closed .header__nav-list,
  .header__nav--closed .header__tablet-list,
  .header__nav--closed .header__tablet-login {
    display: none;
  }

  .header__wrapper--active form {
    display: block;
  }
}

.header__wrapper--nojs {
  @media (max-width: 1023px) {
    background-color: $brown;

    svg,
    .header__logo svg {
      stroke: $white;
    }

    .header__link {

      &:hover svg,
      &:focus svg {
        stroke: $black;
      }
    }

    .header__nav-toggle {
      opacity: 0;
    }

    .header__nav-list,
    .header__tablet-list,
    .header__tablet-login {
      display: flex;
    }
  }
}

.header__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;

  @media (max-width: 1200px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  @media (max-width: 1023px) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
}

.header__wrapper--active {
  height: 100vh;
  overflow-y: scroll;
  background-color: $brown;
}

.header__wrapper svg {
  stroke: $black;
}

.header__wrapper--active svg,
.header__wrapper--active .header__logo svg {
  stroke: #fff;
}

.header__wrapper .header__nav-toggle,
.header__wrapper .header__link {

  &:hover svg,
  &:focus svg {
    stroke: $brown;
  }

  &:active svg {
    stroke: $grey;
  }
}

.header__wrapper--active .header__nav-toggle,
.header__wrapper--active .header__link {

  &:hover svg,
  &:focus svg {
    stroke: $black;
  }
}
