@font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Cormorant Garamond"),
        url("../fonts/cormorantgaramond-regular.woff2") format("woff2"),
        url("../fonts/cormorantgaramond-regular.woff") format("woff");
}

@font-face {
    font-family: "Cormorant Garamond Italic";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Cormorant Garamond Italic"),
        url("../fonts/cormorantgaramond-italic.woff2") format("woff2"),
        url("../fonts/cormorantgaramond-italic.woff") format("woff");
}

@font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Cormorant Garamond Semi-bold"),
        url("../fonts/cormorantgaramond-semibold.woff2") format("woff2"),
        url("../fonts/cormorantgaramond-semibold.woff") format("woff");
}

@font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local("Cormorant Garamond Bold"),
        url("../fonts/cormorantgaramond-bold.woff2") format("woff2"),
        url("../fonts/cormorantgaramond-bold.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Poppins"),
        url("../fonts/poppins-regular.woff2") format("woff2"),
        url("../fonts/poppins-regular.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Poppins Medium"),
        url("../fonts/poppins-medium.woff2") format("woff2"),
        url("../fonts/poppins-medium.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local("Poppins Bold"),
        url("../fonts/poppins-bold.woff2") format("woff2"),
        url("../fonts/poppins-bold.woff") format("woff");
}